<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lo amo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card p-4 mt-3">
                    <p> Querido Oppa:

                        Le escribo esta cartita para que la guarde y la atesore en su corazón
                        Yo lo amo mucho muchito demasiado caleta mucho a montones montoñosos
                        soy muy feliz de tener la fortuna de ser su pareja en esta vida
                        y quiero que siempre estemos juntos , para toda la vida .

                        Ya han pasado mas de cinco años y siento que se ha pasado super rapido,
                        han sido llenos de amor y tenemos una relación hermosa.


                        Yo lo amo con toda mi alma , y espero que sigamos juntos hasta la eternidad.
                        Siempre suya Camila Vega
                    

                    </p><br>
                    <h1> Feliz 14 de febrero </h1>
                    <br>
                    <h1> Lo Amo Muchoo mi Oppa</h1>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>